
<div  class="container-fluid about " style="background-image: url('assets/images/index2.jpg');background-size: cover;background-repeat: no-repeat;">
  <div class="row-fluid text-center">
      <h1 class="col-sm-12">What is Etsy?</h1>
      <a class="col-sm-12 ourstory" href="#">Read our wonderfully weird story</a>
      <div class="row content-p">
          <span class="col-sm-4">
              <h2>A one-of-a-kind community</h2>
              <pre>Etsy is a global online marketplace, where
people come together to make, sell, buy, and
collect unique items.</pre>
          </span>
          <span class="col-sm-4">
              <h2>Support independent creators</h2>
              <pre>There’s no Etsy warehouse – just millions of
people selling the things they love. We make the 
whole process easy, helping you connect
directly with makers to find something
extraordinary.</pre>
          </span>
          <span class="col-sm-4">
              <h2>Peace of mind</h2>
              <pre>Your privacy is the highest priority of our 
dedicated team. And if you ever need
assistance, we are always ready to step in 
for support.</pre>
          </span>
      </div>
          <h3 class="col-sm-12">Have a question? Well, we’ve got some answers.</h3>
          <button class="go-to"><a class="col-sm-12" href="#" >Go To Help Center</a></button>
  </div>
</div>

<router-outlet></router-outlet>
