<div class="container-fluid footer  " style="background-image: url('assets/images/footer.PNG');background-size: cover;background-repeat: no-repeat;">
  <div class="row-fluid text-center">
      <h5 class="col-sm-12">Yes! Send me exclusive offers, unique gift ideas, and personalized tips for shopping and selling on Etsy.</h5>
      <span class="col-sm-3"></span>
      <span class="input-search text-center col-sm-6">
          <input  class="text-center"  type="email" placeholder="Enter your email" id="email"/>
          <button >Subscribe</button>
      </span>
      <span class="col-sm-3"></span>
      <div class="row">
          <span class="col-sm-3 text-start">
              <h6>Shop</h6>
              <ul>
                 <li><a href="#">Gift cards</a></li> 
                 <li><a href="#">Etsy blog</a></li>
              </ul>
          </span>
          <span class="col-sm-3 text-start">
              <h6>Sell</h6>
              <ul>
                 <li><a href="#">Sell on Etsy</a></li> 
                 <li><a href="#">Teams</a></li>
                 <li><a href="#">Forums</a></li>
                 <li><a href="#">Affiliates</a></li>
              </ul>
          </span>
          <span class="col-sm-3 text-start">
              <h6>About</h6>
              <ul>
                  <li><a href="#">Etsy, Inc.</a></li>
                  <li><a href="#">Policies</a></li>
                  <li><a href="#">Investors</a></li>
                  <li><a href="#">Careers</a></li>
                  <li><a href="#">Press</a></li>
                  <li><a href="#">Impact</a></li>
                  <li><a href="#">Legal imprint</a></li>
              </ul>
          </span>
          <span class="col-sm-3 text-start">
              <h6>Help</h6>
              <ul>
                  <li><a href="#">Help Center</a></li>
                  <li><a href="#">Privacy settings</a></li>
                  <li class="go-to"><a href="#">E Download the Etsy App</a></li>
                  <li>
                      <ul style="display: inline-flex;" class="social">
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                          <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                     </ul>
                 </li>
                 
              </ul>
          </span>
      </div>
  </div>
</div>
<footer class="container-fluid">
  <a class="a col-sm-6" href="###"><i class="fas fa-globe-americas"></i>Egypt | English(US) | $(USD) </a>
  <ul class="col-sm-6">
      <li>&copy; 2020 Etsy,ino </li>
      <li><a href="#"> Terms of Use </a></li>
      <li><a href="#"> Privacy </a></li>
      <li><a href="#"> Interest-based ads </a></li>
  </ul>
</footer>


